<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>案例</title>
<link href="../../static/css/subpage_case.css" rel="stylesheet" type="text/css" />
</head>

<body bgcolor="#DEDEDD">
	<div class="div_1">
        <div class="div_1f float">
            <div class="t_center">品牌策略<br />Brand<br />Strategy</div>
        </div>
        <div class="div_1f float"><div class="t_center">品牌策略<br />Brand<br />Strategy</div></div>
        <div class="div_1f float"><div class="t_center">品牌创建<br />Brand<br />Upgrade</div></div>
        <div class="div_1f float"><div class="t_center">品牌升级<br />Brand<br />Consultation</div></div>
        <div class="div_1r float"><div class="t_center">品牌实现<br />Brand<br />Realization</div></div>
        <div class="top_con float">
    		<div class="top"><a class="a_t" href="">Top</a></div>
            <div class="contact"><a class="a_c" href="">联系</a></div>
    	</div>
	</div>
    
</body>
</html>
