.div_1 {
	width: 986px;
	height:190px;
	margin: 5px 0;
	_margin-bottom: 5px!important;
	position: relative;
}
.case_right {
	width: 192px;
	position: relative;
}
.div_2 {
	width: 986px;
	margin-top: 5px;
	position: relative;
	background-color: #FFF;
	clear:both;
}
.div_h {
	height: 190px;
	position:relative;
}
.top {
	background-image: url(../image/case2_top.gif);
	background-repeat: no-repeat;
	height: 43px;
	width: 42px;
	line-height: 43px;
	text-align: center;
	font-size: 14px;
}
.case_left {
	width: 788px;
	margin-right: 4px;
	position: relative;
}
.case_img {
	margin-bottom: 5px;
	_height:586px;
	position: relative;
}
.div_opa {
	margin-bottom: 5px;
	_margin-bottom: 3px!important;
	width: 192px;
	height: 192px;
	position:relative;
}
.case_opacity {
	position: absolute;
	top:0;
	left:0;
	background:#666;
	opacity: 0.7;
	filter:alpha(opacity=70); 
	width: 192px;
	height: 192px;
}

.a_t {
	text-decoration: none;
	color: #000;
}
.a_c {
	text-decoration: none;
	color: #FAAD00;
}
.contact {
	background-image: url(../image/case2_contact.gif);
	background-repeat: no-repeat;
	height: 43px;
	width: 42px;
	line-height: 43px;
	text-align: center;
	font-size: 12px;
}
.clc {
	clear:both;
	height:0px;
	overflow:hidden;
}
.top_con {
	height: 43px;
	width: 42px;
}
.div_hf {
	background-color: #FAAD00;
	height: 150px;
	_height: 190px!important;
	width: 193px;
	-width: 194px!important;
	text-align: center;
	padding-top: 40px;
	margin-right: 5px;
	-margin-right: 2px!important;
	line-height: 30px;
}
.div_hr {
	background-color: #FAAD00;
	height: 150px;
	_height: 190px!important;
	width: 193px;
	text-align: center;
	padding-top: 40px;
	line-height: 30px;
	_z-index:10;
	float:left;
	_float:none!important;
}
.float {
	float: left;
}
.a_link {
	font-size: 24px;
	color: #555350;
	height: 140px;
	_height: 190px!important;
	width: 193px;
	-width: 194px!important;
	text-decoration: none;
	background-color: #c1c1b9;
	position: absolute;
	_top:0px;
	_left:0px;
	text-align: center;
	vertical-align: middle;
	margin-right: 5px;
	-margin-right: 2px!important;
	padding-top: 50px;
	display: block;
}
.c_img {
	height: 192px;
	width: 193px;
	margin-right: 5px;
	margin-bottom: 5px;
	position:relative;
	border:none !important;
	background-color:#FFF;
}

.l_img {
	height: 192px;
	width: 193px;
	margin-bottom: 5px;
	position: relative;
}
.case_t {
	height: 192px;
	width: 556px;
	_width: 589px!important;
	background-color: #60605B;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 33px;
	margin-bottom: 5px;
	color: #c4c4c5;
	text-align:left;
}
.text {
	font-size: 13px;
	line-height: 20px;
	margin-top:15px;
}
.t_con {
	height: 177px;
	width: 118px;
	_width: 198px!important;
	_height: 192px!important;
	background-color: #60605B;
	font-size: 13px;
	line-height:25px;
	padding-left:80px;
	padding-top:15px;
}
.t_con li {
	list-style-type: none;	
}
.t_con a {
	color: #c4c4c5;
	text-decoration: none;
}
.text_title {
	font-size: 24px;
	line-height: 60px;
}
.text_st {
	font-size: 16px;
	line-height: 10px;
}
.img_ss {
	position: absolute;
	top: 10px;
	right: 12px;
	height: 20px;
	width: 20px;
	border:none;
}

.slide {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 74px;
	width: 178px;
	_width: 192px!important;
	_height: 84px!important;
	background-color: #3D3D37;
	line-height: 20px;
	padding-left: 15px;
	padding-top: 10px;
	font-size: 12px;
	color: #FFF;
	display: none;
	opacity:0.9;
	filter:alpha(opacity=90); 
}
.b_form {
	padding-top: 60px;
	padding-bottom: 60px;
	_padding-bottom: 20px!important;
	padding-left: 34px;
	position:relative;
	width:630px;
	_width:664px!important;
}
.b_middle {
	background-color:#FFF;
	width: 100%;
	color:#3E3A39;
}
.line {
	margin-bottom: 20px;
	height: 54px;
}
.input_s {
	background-color: #DCDDDD;
	height: 30px;
	width: 285px;
	border-width: 1px;
	border-color: #D2D2D3;
}
.input_l {
	background-color: #DCDDDD;
	height: 30px;
	width: 587px;
	border-width: 1px;
	border-color: #D2D2D3;
}
.t_area {
	background-color: #DCDDDD;
	height: 152px;
	width: 587px;
	border-width: 1px;
	border-color: #D2D2D3;	
}
.sr {
	margin-top:20px;
	width:46%;
	text-align:center;
}
.sr input {
	width:38px;
	height:26px;
	font-size:13px;
}
.m_text {
	padding-top: 60px;
	padding-right: 34px;
	position:relative;
	width:288px;
	_width:322px!important;
	_text-align:left;
	height:395px;
	_height:455px!important;
	line-height:28px;
	overflow:hidden;
}
.text_li {
	font-size: 16px;
	list-style:none;
}
.m_text p {
	font-size:20px;
}
.m_text a {
	color: #000;
	text-decoration: none;
}
.show {
	display:block;
	width:288px;
	line-height:15px;
	font-size:15px;
	color:#000;
}
.pro_middle {
	width:986px;
	height:192px;
}
.pro_m1 {
	background-color: #F9B900;
	height: 164px;
	width: 758px;
	_height: 192px!important;
	_width: 793px!important;
	padding-top: 28px;
	padding-left: 35px;
	font-size: 28px;
	font-weight: normal;
	color: #000;
}
.pro_m2 {
	background-color: #3E3A39;
	height: 192px;
	width:193px;
}
.pro_text {
	color: #3E3A39;
	width: 720px;
	_width: 986px!important;
	background-color: #FFF;
	padding-left: 36px;
	padding-top: 26px;
	padding-bottom: 5px;
	padding-right: 230px;
	position: relative;
	border-bottom-width: 7px;
	border-bottom-style: solid;
	border-bottom-color: #DEDEDD;
	line-height: 28px;
}
.pro_text ol {
	padding-left:25px;
}
ol li {
	list-style-type: decimal;
}
.pro_text p {
	font-size: 24px;
	line-height:50px;	
}
.us_left {
	width:536px;
	_width:596px!important;
	padding:20px 30px 0px 30px;
	float:left;
	background:#fff;
	color:#333;
}
.us_title {
	font-weight:bold;
	font-size:20px;
	line-height:30px;
	margin-top: 25px;
}
.us_content {
	font-size:16px;
	line-height:25px;
}.case_left_expand {
	height: 192px;
}
