@CHARSET "UTF-8";
.main_footer_corp2 a{  
	list-style:none;
	padding:0 5px;
	margin:0;
}
p{
	padding:0;
	margin:0;
}

a {  
	color:#555;
	text-decoration: none;
}
img {
	border:none;
}

.cl{
	clear: both;
	height: 0px; 
	width: 0px;
}
li {
	list-style-type:none
}
body{
	margin: 0 auto;
	text-align:center;
	width:100%;
	/*background:url(../image/body.png) repeat;*/
	font-family:Arial,Helvetica,sans-serif,Verdana;
}

.main_header{
	width: 986px;
	height: 196px;
	margin-top: 0;
	margin-bottom: 5px;
	margin-right: auto;
	margin-left: auto;
	_margin-bottom: 0px;!important;
}

.main_header_left{
	float:left;
	width:196px;
	height:196px;
}

.main_header_right{
	float: right;
	width: 790px;
	height: 196px;
	background-image: url(../image/header_new.png);
	background-size:790px 196px;
	background-repeat: no-repeat;
}

.main_header_top{
	width:100%;
	height:144px;
}

.main_header_top img{
	/*margin:32px 0 35px 104px;*/
	margin:45px 42px 20px 360px;
}

.main_header_top p{
	font-size:18px;
	color:#faad00;
	padding-right:42px;
	margin:0;
	text-align:right;
}

.main_header_nav{
	width:100%;
	height:52px;
	background:url(../image/header4.png) no-repeat;
	font-family:Microsoft YaHei;
}

.main_header_nav a {
	color:#949495;
}

.main_header_nav a:hover {
	color:#faad00;
}

.main_ul1{
	float:left;
	font-size:24px;
	margin-left:85px;
	line-height:53px;
	width:320px;
	_margin-left:50px!important;
	height:53px;
}

.main_ul2{
	float:left;
	font-size:16px;
	line-height:43px;
	margin:8px 0 0 0;
}

.main_ul1 a{
	float:left;
	padding:0 28px 0 28px;
}

.main_ul2 a{
	float:left;
	padding:0 18px 0 18px;
	_padding:0 17px 0 17px!important;
}

.main_footer{
	text-align:left;
	width:986px;
	margin:2px auto 0 auto;
	background-color:#3e3a39;
}

.main_footer_left{
	float:left;
	width:605px;
	padding:25px 0 30px 45px;
	_width:650px!important;
	_padding-bottom:5px!important;
}

.main_footer_tel{
	font-size:20px;
	color:#faad00;
	text-align:left;
	_padding-bottom:20px;
}

.main_footer_address{
	color:#c9caca;
	padding-top:20px;
	_padding-top:0px!important;
}

.main_footer_address1{
	float:left;
	width:150px;
	font-size:14px;
	padding-right:10px;
}

.main_footer_address2{
	float:left;
	width:300px;
	font-size:12px;
	padding-right:5px;
}

.main_footer_address3{
	float:left;
	margin-top:-4px;
}

.main_footer_address3 input{
	font-size:12px;
	color:#faad00;
	width:66px;
	height:25px;
	background:url(../image/footer1.png) no-repeat;
	border:none;
}

.main_footer_corp{
	color:#848282;
	font-size:13px;
	padding-top:40px;
	_padding-top:20px!important;
}

.main_footer_corp1{
	float:left;
	width:140px;
	padding-right:10px;
}

.main_footer_corp2 a{
	float:left;
	padding-right:20px;
	color:#848282;
}


.main_footer_right{
	float:left;
}

.main_footer_er{
	float:left;
	margin:20px 25px 0 0;
}

.main_footer_er p{
	font-size:10px;
	text-align:center;
	color:#c9caca;
	margin:10px 0 0 0;
}

.main_footer_copyright{
	padding:20px 0 0 0;
	font-size:12px;
	color:#848282;
	_padding-top:0px!important;
}

.main_content{
	text-align:left;
	position:relative;
	width:986px;
	margin:0 auto;
}

.main_big_pic {
	position:relative;
	width:100%;
	_height:410px;
}

.main_big_pic ul {
	width:4000px;
	height:410px;
}
.main_big_pic li {
	width:986px;
	height:410px;
	float:left;
}

.arrow_left {
	position:absolute;
	top:170px;
	left:20px;
	display:block;
	width:36px;
	height:73px;
	background:url(../image/main_left.png);
}
.arrow_right {
	position:absolute;
	top:170px;
	right:20px;
	display:block;
	width:36px;
	height:73px;
	background:url(../image/main_right.png);
}

#main_tip a:hover {
	opacity:0.5;
	filter:alpha(opacity=50); 
}

#main_out{
	position:fixed;
	width:42px;
	height:43px;
}

.main_block{
	width:100%;
	height:190px;
	margin-bottom:5px;
	font-family:Microsoft YaHei;
}

.main_block1{
	width:193px;
	height:190px;
	margin-right:5px;
	position:relative;
	font-size:22px;
	line-height:30px;
	text-align:center;
	color:#555350;
	background-color:#c1c1b9;
	float:left;
}

.main_block-yellow{
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	width:193px;
	padding-top:145px;
	height:45px;
	font-size:22px;
	line-height:30px;
	line-height:45px \9;
	text-align:center;
	color:#313842;
	background-color:#faad00;
	display:none;
}

.main_block-detail{
	position:absolute;
	top:0px;
	left:-1px;
	z-index:1000;
	width:163px;
	width:193px \9;
	height:176px;
	padding:20px 20px 0 15px;
	font-size:16px;
	line-height:25px;
	text-align:left;
	overflow:hidden;
	text-overflow:ellipsis;
	color:#fff;
	display:none;
}
.main_block-detail a{ 
	width:100%;
	height:100%;
	color:#fff;
}

.main_block-detail a:hover{
	color: #FFF;
}

.main_block_p1{
	padding-top:55px;
}

.main_work{
	width:589px;
	margin:0 5px 0 0;
	float:left;
	clear:both;
}

.main_work_title{
	height:35px;
	padding-left:15px;
	line-height:35px;
	font-size:20px;
	color:#313842;
	background-color:#faad00;
}

.main_work_pic{
	position:relative;
	width:100%;
	height:385px;
	margin:5px 0 5px 0;
	_margin-bottom:0px!important;
}

.main_pic_mask{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:385px;
	background-color:#666;
	opacity:0.5;
	filter:alpha(opacity=50); 
	z-index:100;
	display:none;
}

.main_work_detail{
	position:absolute;
	width:100%;
	height:72px;
	top:0;
	left:0;
	background-color:#34302c;
	opacity:0.8;
	filter:alpha(opacity=80); 
	font-size:12px;
	text-align:left;
	line-height:20px;
	padding-top:15px;
	padding-top:5px \9;
	display:none;
	z-index:1000;
}

.main_work_detail a{
	color:#fffde5;
}

.main_work_detail p{
	padding-left:15px;
}

.main_news{
	width:392px;
	margin:0 0px 0 0;
	float:left;
}

.main_news_title{
	height:35px;
	padding-left:15px;
	line-height:35px;
	font-size:20px;
	color:#313842;
	background-color:#faad00;
}

.main_news_list{
	width: 100%;
	height:190px;
	_height:193px!important;
	position: relative;
	margin:2px 0 5px 0px;
	_margin-bottom:0px!important;
	
}

.main_news_listl{
	width: 100%;
	height:190px;
	_height:194px!important;
	position: relative;
	margin:2px 0 5px 0px;
	_margin-bottom:0px!important;
	
}

.main_news_list_word {
	width: 137px;
	_width:192px!important;
	height: 150px;
	_height:190px!important;
	padding: 40px 30px 0 25px;
	background: #60605b;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	line-height: 25px;
	color: #fffde5;
	float: left;
}

.main_news_mask{
	position:absolute;
	top:0;
	left:0px;
	width:200px;
	height:190px;
	opacity:0.7;
	filter:alpha(opacity=70); 
	background:#666;
	z-index:200;
}

.main_page{
	width:100%;
	height:50px;
	line-height:50px;
	text-align:center;
	color:#fff;
	background-color:#3e3a39;
	margin-bottom:0 auto 2px auto;
	clear:both;
}

.map{
	padding:25px 25px 25px 25px;
	background:#FFF;
}

.allmap{
	width:934px;
	height:745px;
	over-flow:hidden;
}

.map_title{
	position:absolute;
	top:335px;
	left:38px;
	font-size:40px;
	font-family:Microsoft YaHei;
	color:#3e3a39;
}

.share_work{
	position:absolute;
	top:10px;
	left:522px;
	z-index:10;
}

.share_2{
	display: none;
}

.share1 {
	_left:165px !important;
}
