#joycenterContainer {
	background:#fff;
	margin-bottom:10px;
}
#joycenter a:hover {
	opacity:0.4;
	filter:alpha(opacity=40); 
}
.joyLeft{
	width:80%;
	float:left;
	color:#222;
}
.leftTop {
	width:100%;
	height:165px;
	background:#f9b900;
	padding:25px 20px 0 30px;
}
.leftTopTitle {
	font-size:28px;
	line-height:40px;
	margin-bottom:12px;
}
.leftTopContent {
	font-size:16px;
	line-height:30px;
}
.share_left {
	width:90%;
	padding:0px 30px 5px 38px;
	float:left;
	background:#fff;
	color:#333;
}
.share_title {
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	margin-top: 25px;
}
.share_content {
	font-size:16px;
	line-height:25px;
	padding-bottom:10px;
}
.service_content {
	font-size:16px;
	line-height:25px;
	padding-bottom:40px;
}
.joyRight {
	float:left;
	width:20%;
	color:#fffde1;
}
.rightDiv {
	width:100%;
	height:160px;
	background:#60605b;
	padding-top:30px;
	margin-bottom:5px;
}
.rightDivTitle {
	font-size:24px;
	margin-bottom:12px;
	margin-top:22px;
	text-align:center;
	height:30px;
}
.centerFoot{
	width:100%;
	height:50px;
	line-height:50px;
	text-align:center;
	color:#fff;
	background-color:#3e3a39;
	margin-bottom:2px;
}