/* CSS Document */
body {
	background:#dededd;
	font-family:Microsoft Yahei;
}
* {
	margin:0;
	padding:0;
}
#newsecond {
	width:986px;
	margin:0 auto;
	font-family:Microsoft Yahei;
}
#news_middle {
	background:#fff;
}
.news_left {
	width:536px;
	_width:566px!important;
	padding:45px 30px 0px 30px;
	_margin-top:5px;
	float:left;
	background:#fff;
	color:#333;
}
.news_left p {
	margin-bottom:15px;
}
.news_left img {
	margin-top:15px;
}
.news_right {
	width:390px;
	float:right;
	background:#fff;
	_margin-top:5px;
}
.news_title {
	font-size:20px;
	line-height:30px;
}
.news_content {
	font-size:14px;
	line-height:25px;
}
.news_list {
	width:100%;
	height:190px;
	position:relative;
	margin-top:5px;
	_margin-top:0px!important;
	clear:both;
}
.news_list_word {
	width:135px;
	_width:190px!important;
	height:150px;
	_height:190px!important;
	padding:40px 35px 0 20px;
	background:#60605b;
	color:#fff;
	text-align:left;
	font-weight:bold;
	font-size:14px;
	line-height:25px;
	color:#fffde5;
	float:left;
}
.news_list_img {
	width:200px;
	height:190px;
	float:left;
	position:relative;
}
.fade {
	position:absolute;
	top:0;
	left:190px;
	background:#666;
	opacity:0.7;
	filter:alpha(opacity=70); 
	width:200px;
	height:190px;
	z-index:5;
}
.fade:hover {
	opacity: 0;
	filter:alpha(opacity=0); 
}
.pic_div {
	position:relative;
	width:100%;
	margin-top:5px;
	_margin-top: 0px!important;
}
#pic {
	_height:410px;
	overflow:hidden;
	width:986px;
}
.pic_div ul {
	width:4000px;
	height:432px;
	float:left;
}
.pic_div li {
	width:986px;
	height:432px;
	float:left;
}
.share {
	position:absolute;
	height:100px;
	width:100px;
	top:10px;
	left:362px;
	z-index:10;

}
.pic1 {
	margin-bottom:5px;
}
.weibo_share {
	width:63px;
	height:24px;
}
.qq_share {
	width:63px;
	height:24px;
}
.share_1 {
	display:none;
	z-index:20;
}
.pic_left {
	position:absolute;
	top:180px;
	left:20px;
	display:block;
	width:36px;
	height:73px;
	background:url(../image/left.png);
}
.pic_right {
	position:absolute;
	top:180px;
	right:20px;
	display:block;
	width:36px;
	height:73px;
	background:url(../image/right.png);
}
#j2_m {
	clear:both;
	height:1176px;
}
#tip a:hover {
	opacity:0.4;
	filter:alpha(opacity=40); 
}
.join_left {
	width:596px;
	float:left;
	color:#222;
}
.join_right {
	float:left;
	width:390px;
	color:#fffde1;
}
.left_top {
	width:536px;
	_width:596px!important;
	height:165px;
	_height:190px!important;
	background:#f9b900;
	padding:25px 30px 0 30px;
}
.right_top {
	width:100%;
	height:160px;
	_height:190px!important;
	background:#60605b;
	padding-top:30px;
}
.left_top_title {
	font-size:28px;
	line-height:40px;
	margin-bottom:12px;
}
.left_top_content {
	font-size:16px;
	line-height:30px;
}
.right_top_title {
	font-size:28px;
	line-height:40px;
	margin-bottom:12px;
	text-align:center;
}
.right_top_content {
	text-align:center;
	font-size:16px;
	line-height:30px;
	margin-top:30px;
}
.right_middle {
	width:100%;
	height:130px;
	_height:170px!important;
	background:#60605b;
	padding:30px 0 10px 0;
	overflow:hidden;
	position:relative;
	margin-top:5px;
}
.right_middle_title {
	font-size:24px;
	margin-bottom:12px;
	text-align:center;
	height:30px;
}
.right_middle_content {
	font-size:15px;
	line-height:30px;
	padding-left:30px;
	padding-right:30px;
}
.not {
	display:block;
	background:#60605b;
	line-height:15px;
	padding:0 0 15px 30px;
	font-size:15px;
	color:#fffde1;
}
.left_middle {
	width:540px;
	_width:596px!important;
	padding:15px 20px 10px 35px;
}
.middle_title {
	font-size:24px;
	line-height:40px;
	padding-bottom:10px;
}
.middle_intro {
	line-height:28px;
	margin-bottom:30px;
}
.people_intro {
	margin-bottom:20px;
	clear:both;
	height:240px;
}
.intro_pic {
	float:left;
	margin-right:30px;
}
.intro_content {
	float:left;
	width:255px;
	padding-top:15px;
}
.intro_logo {
	margin-bottom:20px;
}
.intro_word {
	font-size:13px;
	line-height:23px;
}
.img_dream {
	position:absolute;
	font-size:110px;
	color:#faad00;
	top:275px;
	left:60px;
	font-weight:bold;
}
.img_creat {
	position:absolute;
	font-size:50px;
	color:#faad00;
	top:325px;
	left:500px;
	
}
.join2_middle {
	width:390px;
	_width:396px!important;
	margin-right:6px;
	_margin-right:0px!important;
	float:left;
}
.join2_middle a {
	display:block;
	color:#222;
	background:#faad00;
	line-height:60px;
	text-align:center;
	font-size:40px;
}
.join2_middle a:hover {
	background:#fec035;
}
.join2_middle_block {
	width:210px;
	height:258px;
	_width:390px!important;
	_height:388px!important;
	padding:130px 90px 0 90px;
	margin-bottom:6px;
}
.join2_middle_block1 {
	width:390px;
	height:228px;
	_height:388px!important;
	padding-top:160px;
	text-align:center;
	margin-bottom:6px;
}
.join2_middle_email {
	width:390px;
	height:228px;
	_height:388px!important;
	padding-top:160px;
}
.email {
	font-size:25px;
}
.join2_right {
	width:190px;
	float:left;
	margin-left:4px;
}
.join2_right a {
	display:block;
	color:#fffde1;
}
.join2_right a:hover {
	background:#7c7c7a;
}
.join2_middle_right {
	background:#60605b;
	height:115px;
	_height:190px;!important
	width:190px;
	margin-bottom:7px;
	font-size:26px;
	text-align:center;
	padding-top:75px;
}

.current{
	padding:0 5px 0 5px;
	color:#FFF !important;
	background-image:url(../image/case2_top.gif);
	display:inline-block;
	float:left;
}

.page_full {
	margin-right: auto;
	margin-bottom: auto;
	width:auto;
}
.page_num {
	height: 43px;
	width: 55px;
	float:left;
}

.main_page a{
	padding:0 5px 0 5px;
	color:#fff;
}
