.div_title {
	height: 196px;
	width: 986px;
	position: absolute;
}
.div_1 {
	height: 382px;
	width: 1028px;
	margin-top: 5px;
	position: absolute;
	left: 147px;
}
.top {
	background-image: url(../image/top.gif);
	background-repeat: no-repeat;
	height: 43px;
	width: 42px;
	line-height: 43px;
	text-align: center;
	font-size: 14px;
}
.a_t {
	text-decoration: none;
	color: #000;
}
.a_c {
	text-decoration: none;
	color: #FAAD00;
}
.contact {
	background-image: url(../image/contact.gif);
	background-repeat: no-repeat;
	height: 43px;
	width: 42px;
	line-height: 43px;
	text-align: center;
	font-size: 12px;
}


.top_con {
	height: 43px;
	width: 42px;
}

.div_1f {
	background-color: #60605B;
	font-size: 24px;
	font-weight: bold;
	color: #FFF;
	height: 382px;
	width: 193px;
	margin-right: 5px;
}
body {
	height: 2452px;
	width: 1280px;
}

.div_1r {
	background-color: #60605B;
	height: 382px;
	width: 193px;
	font-size: 24px;
	font-weight: bold;
	color: #FFF;
}
.div_bg {
	height: 2452px;
	width: 986px;
	position: absolute;
	left: 147px;
	top: 0px;
}
.float {
	float: left;
	display: table;
}
.t_center {
	width: 193px;
	text-align: center;
	margin-top: 130px;
}
