/* CSS Document */
.register_form-login{
	margin: 150px auto 0;
}

.fa {
	padding-right:5px;
}

.cl{
	clear: both;
	height: 0; 
	overflow: hidden;
}

#check_num{
	width:50px;
	height:34px;
	color:#FFF;
	font-size:18px;
	line-height:34px;
	border-radius:4px;
	background-color:#68dff0;
	margin-left:5px;
	padding-left:2px;
	float:left;
}

.password_input{
	width:80%;
	float:left;
}

.login_error{
	color:#F00;
	font-size:14px;
	font-family:Microsoft Yahei;
}

.add_news{
	float:right;
	width:100px;
	font-size:14px;
}

.task-content {
	margin-bottom: 10px;
}

.page_html{
	text-align:center;
}

.col-sm-2 {
	width: 10%;
}

.news_botton{
	width:100px;
	height:35px;
	font-size:14px;
}

.list_title{
	width:60%;
}

.list_time{
	width:15%;
}

.pull_left{
	float:left;
}