/* CSS Document */
.register_form-login{
	margin: 150px auto 0;
}

.fa {
	padding-right:5px;
}

.cl{
	clear: both;
	height: 0; 
	overflow: hidden;
}

#check_num{
	width:50px;
	height:34px;
	color:#FFF;
	font-size:18px;
	line-height:34px;
	border-radius:4px;
	background-color:#68dff0;
	margin-left:5px;
	padding-left:2px;
	float:left;
}

.password_input{
	width:80%;
	float:left;
}

.login_error{
	color:#F00;
	font-size:14px;
	font-family:Microsoft Yahei;
}

.add_news{
	float:right;
	width:100px;
	font-size:14px;
}

.task-content {
	margin-bottom: 10px;
}

.page_html{
	text-align:center;
	font-size:16px;
}

.page_html a{
	color:#398439;
	padding:0 5px 0 5px;
}

.current{
	color:red !important;
}

.col-sm-2 {
	width: 10%;
}

.news_botton{
	width:100px;
	height:35px;
	font-size:14px;
	margin-top:20px;
}
.g_title_t {
	font-size:14px;
	color:#00F;
}
.g_title_t td {
	padding-bottom:10px;
}
.g_td {
	padding-bottom:10px;
}	

.ui-sortable > li {
	padding: 0 0 0 35px !important;
}

.list-news  {
	height:48px;
	line-height:48px;
}

.list_title{
	width:35%;
}

.list_time{
	width:15%;
}

.pull_left{
	float:left;
}

#sortable{
	list-style-type: none;
	margin: 0 0 20px 0;
	padding: 0;
	width: 100%;
}

#sortable li {
	padding: 0 0 0 35px !important;
	position: relative;
	background: #f5f6f8;
	margin-bottom: 2px;
	border-bottom: none !important;
}

.list-warning {
	border-left: 3px solid #F1C500;
}

.list-success {
	border-left: 3px solid #78CD51;
}

.list-danger {
	border-left: 3px solid #FF6C60;
}

.list-primary {
	border-left: 3px solid #41CAC0;
}
